[package]
name = "emval"
version = "0.1.3"
description = "emval is a blazingly fast email validator"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "_emval"
crate-type = ["cdylib"]

[dependencies]
<<<<<<< HEAD
pyo3 = "0.23.0"
=======
pyo3 = "0.22.4"
>>>>>>> main

# emval dependencies
idna = "1.0.2"
lazy_static = "1.5.0"
regex = "1.10.5"
unicode-properties = "0.1.1"
rstest = "0.21.0"
unicode_names2 = "1.2.2"
trust-dns-resolver = "0.23.2"
